<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="std" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss} [%p][%c][%M][%L]-> %m%n</pattern>-->
            <pattern>%m%n</pattern>
        </layout>
    </appender>
    <root level="info">
        <appender-ref ref="std"/>
    </root>

</configuration>